<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${product?.id} ? 'Update Product' : 'New Product'"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${product?.id} ? 'Update Product' : 'New Product'"></h1>

    <form action="#" th:action="@{/products/save}" th:object="${product}"
          method="post" class="needs-validation mt-5" novalidate=""
          style="max-width: 600px">
        <input type="hidden" th:field="*{id}" id="id" />

        <div class="row g-3">
            <div class="col-sm-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" th:field="*{name}" id="name"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{name}">Erro</div>
            </div>

            <div class="col-sm-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" th:field="*{description}" id="description"
                       th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{description}">Erro</div>
            </div>

            <div class="col-sm-6">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" th:field="*{quantity}" id="quantity"
                       th:classappend="${#fields.hasErrors('quantity') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{quantity}">Erro</div>
            </div>

            <div class="col-sm-6">
                <label for="price" class="form-label">Price</label>
                <div class="input-group" th:classappend=" ${#fields.hasErrors('price') ? 'has-validation' : ''}">
                    <span class="input-group-text">R$</span>
                    <input type="text" class="form-control" th:field="*{price}" id="price"
                           th:classappend=" ${#fields.hasErrors('price') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback" th:errors="*{price}">Erro</div>
                </div>
            </div>
        </div>

        <button class="w-100 btn btn-primary mt-4" type="submit">Save</button>
    </form>
</div>
</body>
</html>
